<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beginus.beginners219.model.dao.BusinessMapper">

    <select id="getAllDataList" resultType="com.beginus.beginners219.model.dto.BusinessInfo">
        SELECT * FROM BUSINESS_INFO_TB;
    </select>

</mapper>